@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
    background-color: #111111;
}


.navbar{
    background-color: #111111;

}
.navbar .navbar-brand{
    color: #f5f5f7;
    font-size: 0.875rem;
    font-weight: 600;
    opacity: .7;
}

.navbar .navbar-nav .nav-item a{
    color: #f5f5f7;
    font-size: 0.875rem;
    font-weight: 600;
    opacity: .7;
    margin-left: 25px;
}
.navbar .navbar-brand:hover{
    color:aqua
    

}
.navbar .navbar-toggler-icon{
    color: #FFF;
    background-color: #04edfa;
    border: 3px solid hsla(241, 93%, 48%, 0.434);
}


.navbar .navbar-nav .nav-item a:hover{
    color:rgb(10, 253, 253);
    


}
.landing-sec{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-sec h3{
    color: #fafafa;
    font-size: 	1.125rem;
    font-weight: 600;
}
.landing-sec h1{
    color: #fafafa;
    font-size: 5.125rem;
    font-weight: 600;
}
.landing-sec h1 span{
    background-image:linear-gradient(to right,rgb(13, 135, 221),rgb(21, 215, 200));
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
    
}
.landing-sec p{
    color: #a1a1a1;
    font-size: 	1.125rem;
    font-weight: 500;
} 
.landing-sec .btn{
    background-image:linear-gradient(to right,rgb(13, 135, 221),rgb(21, 215, 200));
    color:#fafafa;
    height: 	3.125rem;
    width: 9.375rem;
    font-weight: 600;
    border-radius: 0.625rem;

}
.landing-sec .btn:hover{
    scale: 1.02;
}




.aboutSec{
    padding-top: 3.125rem;
    padding-bottom: 7.5rem;
    padding-left: 3.125rem;
    
    
}
.aboutSec h1{
    color: #fafafa;
    font-size: 60px;
    font-weight: 700;
}
.aboutSec h3{
    font-size: 16px;
    font-weight: 500;
    color: #14CECA;
    padding-top: 50px;
}
.aboutSec h2{
    font-size: 26px;
    color: #f9f9f9;
    font-weight: 700;
    padding-top: 5px;
}
.aboutSec p{
    color: #f9f9f9;
    font-size: 15px;
    padding-top: 10px;
    font-weight: 500;
}
.aboutSec .table td span{
    color: #14CECA;
    
}
.aboutSec .table td {
    color: #f9f9f9;
    font-size: 14px;
    font-weight: 500;
}
.aboutSec .btn{
    background-image:linear-gradient(to right,rgb(13, 135, 221),rgb(21, 215, 200));
    color:#fafafa;
    height: 50px;
    width: 150px;
    font-weight: 600;
    border-radius: 10px;

}
.aboutSec .btn:hover{
    scale: 1.1;
}
.aboutSec .image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.aboutSec img{
    border-radius: 45%;
    opacity: .6;
    padding-left: 10px;
    margin: auto;
}
/* .SkillSec{
    margin-bottom: 150px;
}

.SkillSec h1 {
    color:#fafafa;
    font-size: 60px;
    font-weight: 700;
    margin-bottom:70px;
    padding: 50px;



}
.SkillSec a{
    text-decoration: none;
    font-weight: 600;
    font-size:20px;
    color: #a1a1a1;
    opacity: .5;
    

}
.SkillSec a span{
    background-image:linear-gradient(to right,rgb(13, 135, 221),rgb(21, 215, 200));
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}
.SkillSec a:hover{
    opacity: 1;
    font-size: 21px;
} */
.Skill-sec{
    padding-top: 50px;
    padding-bottom: 120px;
    padding-left: 50px;
    

}
.Skill-sec .heading h1{
    color: #fafafa;
    font-size: 60px;
    font-weight: 700;

}

.Skill-sec .content .elements .verticalLine{
    border-left: 2px solid #fafafa;
    height: 50px;
    margin-right: 12px;
    margin-left: 12px;
}
.Skill-sec .content  .elements .round{
    border-radius: 100%;
    border:2px solid #14aba0;
    height: 25px;
    width: 25px;

    
}
.Skill-sec .content .card{
    background-color: #1a1a1a;
    margin-left: -50px;
   

}
.Skill-sec .content .card .card-body i{
    color: #15D7C8;
    font-size: 25px;
}
.Skill-sec .content .card .card-body h4{
    color: #fafafa;
    font-size: 20px;
}
.Skill-sec .content .card .card-body p{
    color: #6c757d;
    font-size: 25px;
    font-weight: 600;
}
.Project-sec .heading h1{
    color: #fafafa;
    font-size: 60px;
    font-weight: 700;

}
.Project-sec{
    padding-top: 50px;
    padding-bottom: 120px;
    padding-left: 50px;
    

}
.Project-sec .content .card{ 
    background-color: #1a1a1a;
    border-radius: 15px;
    margin-top: 50px;

}
.Project-sec .content .card:hover{ 
   scale: 1.05;

}
.Project-sec .content .card h5{
    color: #15D7C8;
    font-size: 15px;

}
.Project-sec .content .card i{
    color: #fafafa;
    margin-left: 8px;
    margin-right: 8px;
}
.Project-sec .content .card i:hover{
    color: #15D7C8;
}
.Project-sec .content .card h3{
    font-size: 24px;
    color: #fafafa;
    font-weight: 600;
    margin-bottom: 10px;

}
.Project-sec .content .card p{
    font-size: 16px;
    color: #818181;
    font-weight: 500;
}
.Project-sec .content .card .badge{
    background-color: #15D7C8;
    color: #fafafa;
    margin-right: 5px;
}
.ContactSec .content h1{
    color: #fafafa;
    font-size: 60px;
    font-weight: 700;
}
.ContactSec .content h5{
    color:#818181;
    font-size: 15px;
}
.ContactSec .content .common{
    background-color: #121111;
    border-radius: 15px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(20, 182, 194, 0.662);
    color: #4ff30e;
}
.ContactSec .content .common:hover{

scale: 1.02;


}
.ContactSec .content .common::placeholder {
    background-image:linear-gradient(to right,rgb(13, 135, 221),rgb(21, 215, 200));
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
    opacity: .8; 
    font-weight: 400;
}
.ContactSec .content .btn{
    background-image:linear-gradient(to right,rgb(13, 135, 221),rgb(21, 215, 200));
    color:#fafafa;
    height: 50px;
    width: 150px;
    font-weight: 600;
    border-radius: 10px; 
}
.ContactSec .content .btn:hover{
    scale: 1.1;
}




.footer h1{
    color: #f9f9f9;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 30px;
}
.footer i{
    color: #a1a1a1;
    opacity: .5;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
.footer i:hover{
    color: white;
    opacity: 1;
}
.footer p{
    color: #f9f9f9;
    font-size: 12px;
    font-weight: 500;
    margin-top: 50px;
}